@using DnD_NPC_Generator.Models
@model DnD_NPC_Generator.Models.NPCListView

@section Styles {
    <link rel="stylesheet" href="~/css/npc-view.css" />"
}

<h1>Administrator View</h1>
<p>From this view you can see all of the NPCs, regardless of owner.</p>
<h2>List of NPCs</h2>
<div id="npc-cards">
    @if (Model.NPCs != null && Model.NPCs.Any())
    {
        foreach (NPC npc in Model.NPCs)
        {
            <partial name="_NPCViewPanel" model="@npc" />
        }
    }
    else
    {
        <p>No NPCs found.</p>
    }
</div>

