@model NPCListView
@section Styles {
    <link rel="stylesheet" href="~/css/npc-view.css" />"
}
<a asp-action="Index" class="btn btn-primary">Back to NPC List</a>
<h1>NPC's List</h1>
<div id="npc-cards">
    @foreach (NPC npc in Model.NPCs)
    {
        <partial name="_NPCViewPanel" model="@npc" />
    }
</div>
