@{
    ViewData["Title"] = "Home Page";
}
<h1>Welcome to Xerxes' Legion of NPCs</h1>
<h3>Main Menu</h3>
<div class="d-grid gap-4">
    <a asp-controller="NPC" asp-action="Index" class="btn btn-primary btn-lg" role="button">Manage your NPCs</a>
    <a asp-controller="NPC" asp-action="Display" class="btn btn-primary btn-lg" role="button">View NPCs in Session</a>
    <a asp-controller="Spell" asp-action="Index" class="btn btn-primary btn-lg" role="button">Explore Spells</a>
    <!-- <a class="btn btn-primary btn-lg" role="button">Explore Classes</a> -->
</div>