@{
    ViewData["Title"] = "Home Page";
}
<div hidden>Trevor</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">Isaac has pushed with his branch</h1>
    <h1 class="display-4">Tim has pushed with his branch</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
