@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This website uses the DND SRD for 5E, not all the subclasses, spells, or items are featured here due to Wizards of The Coast policy. Additionally this website is our C# Final Project so if you found this by accident or just browsing, this is the purpose of this site. We have no qualms about you using this website for you Dungeons and Dragons needs</p>
